.todoListOne, .todoListTwo {
    float: left;
    margin: 30px;
    padding: 25px;
    border: solid grey;
    border-bottom: 0px;
    border-top: 0px;
    border-radius: 25px;
}

input[type='text'] {
    height: 30px
}

.listOne, .listTwo{
    background-color: #ebf5fa;
    border-radius: 5px;
}

.task:hover {
    background-color: #c2e3ec;
    border-radius: 5px;
}

.delete{
    margin-right: 10px;
}

